<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMTSAOSfRHFcvn6EAzRBd3_67bY9Idiws</string>
	<key>GCM_SENDER_ID</key>
	<string>109761333004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tradingApp</string>
	<key>PROJECT_ID</key>
	<string>tradingapp-36a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>tradingapp-36a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109761333004:ios:b56fa3bbc61e8fe93feb29</string>
</dict>
</plist>